<!--
  ~ Copyright (C) 2015 47 Degrees, LLC http://47deg.com hello@47deg.com
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may
  ~ not use this file except in compliance with the License. You may obtain
  ~ a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fortysevendeg.android.scaladays"
          xmlns:tools="http://schemas.android.com/tools"
          android:versionCode="19"
          android:versionName="2.3.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_map_key"/>

        <meta-data
            android:name="LOCALYTICS_APP_KEY"
            android:value="@string/localytics_key"/>

        <meta-data
            android:name="LOCALYTICS_NOTIFICATION_ICON"
            android:value="@drawable/icon_default_notification"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="@string/crashlytics_api_key"/>

        <activity
            android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.scheduledetail.ScheduleDetailActivity"
            android:label=""
            />
        <activity
            android:name=".ui.social.AuthorizationActivity"
            android:label="@string/app_name"
            />

        <activity
            tools:replace="android:screenOrientation,android:theme"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name="com.google.zxing.client.android.HelpActivity"
            android:screenOrientation="user"/>

        <service android:name=".services.ReloadJsonService"/>

        <receiver
            android:enabled="true"
            android:name=".receivers.BootReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <!-- Localytics Receiver -->

        <receiver
            android:name="com.localytics.android.PushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

                <category android:name="com.fortysevendeg.android.scaladays"/>
            </intent-filter>
        </receiver>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <!-- Localytics Permissions -->

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission
        android:name="com.fortysevendeg.android.scaladays.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.fortysevendeg.android.scaladays.permission.C2D_MESSAGE"/>

</manifest>